@charset "utf-8";
@import "bootstrap-sprockets";
@import "bootstrap";

canvas {
  border: solid 1px $gray;
}

.btn + .btn {
  margin-left: 6px;
}

.full-height {
  height: 85vh;
  overflow-y: scroll;
}

#tumtum {
  width: 100%;
}
